.navbar{
    width: 100%;
    position: fixed;
    background: #aa0d0d;
    top: 0;
    left: 0;
    z-index: 50;
    justify-content: space-between;
    padding: 0 20px;
}

.userInfo {
    float: right;
    margin-right: 50px;
    text-align: right;
}
.userInfo p {
    color: #ffffff;
}
